#container {
	margin-top: 30px;
	max-width: 1000px;
}

.grid {
	float: left;
	margin: 1px;
	border: solid;
	border-color: black;
	border-width: 1px;
}

.clear {
	clear: both;
	margin: -4px;
}

.button {
	margin: 30px auto;
	padding: 5px 10px;
	background-color: #4D6770;
	color: #C3CACC;
	text-decoration: none;
	border-radius: 3px;
}